---
title: Team
layout: default
bodyClass: page-team-list
---
<style type="text/css">

@media screen and (max-width: 800px) {
  #div-desktop-text {
    padding-left:20px;
    padding-right:20px;
  }
  #div-desktop {
    width: 100%;
  }
}

@media screen and (min-width: 800px) {
  .mycol {
  width: 50%;
  padding: 0px;
  float: right;
  margin:0px;
  }
}

  .intro h1 { color: #db505e; font-size: 2.4rem; line-height: 1.2; font-family: "Comfortaa", Comfortaa, sans-serif, -apple-system; width: 70%; }
  @media (min-width: 576px) { .intro h1 { width: 70%; } }
  @media (min-width: 768px) { .intro h1 { font-size: 3rem; width: 70%; } }
  @media (min-width: 992px) { .intro h1 { font-size: 3rem; width: 80%; } }
  .intro p { width: 80%; font-size: 1.1rem; font-weight: lighter; line-height: 1.4; color: #414156; }
  @media (min-width: 576px) { .intro p { width: 70%; } }
  @media (min-width: 768px) { .intro p { width: 60%; } }
  @media (min-width: 992px) { .intro p { width: 70%; } }
  </style>

<div class="intro">
  <div class="container">
    <div class="row">
      <div class="mycol" id="div-desktop-text">
        <h1>Meet The Board</h1>
        <p>
          We're students that are committed and passionate about building connections.
        </p>
        <p>
          <!--Note to developer: Simply comment/uncomment either of the two below lines to open/close board applications.
          Please don't delete either of the lines! This will make it easier for future changes :)-->
          
           Board applications are now closed. We will begin accepting applications next semester.
          <!-- Our board applications are open for this semester! Click <a href="board-application.html">here</a> to apply. -->
        </p>

      </div>

      <div id="div-desktop-text" class="mycol">
        <img alt="group photo" src="/images/team/claid group photo.JPG" id="div-desktop"/>
      </div>

    </div>
  </div>
</div>

<div class="container pb-6" id="div-desktop-text">
  <div class="row">
    {% for team in site.team %}
    {% if team.active == "yes" %}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <h5 class="team-description">{{ team.jobtitle }}</h5>
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<div class="container pb-6" id="div-desktop-text">
  <div class="row">
    <h1>Alumni</h1>
  </div>
</div>

<div class="container pb-6" id="div-desktop-text">
  <div class="row">
    {% for team in site.team %}
    {% if team.alumni == "yes"%}
    <div class="col-12 col-md-6 mb-1">
      <div class="team team-summary">
        {% if team.image %}
        <div class="team-image">
          <img
            alt="{{ team.title }} logo"
            class="img-fluid mb-2"
            src="{{site.baseurl}}{{ team.image }}"
          />
        </div>
        {% endif %}
        <div class="team-meta">
          <h2 class="team-name">{{ team.title }}</h2>
          <h5 class="team-description">{{ team.jobtitle }}</h5>
        </div>
        <div class="team-content">{{ team.content }}</div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
