<div class='header {{include.headerClass}}'>
  <div class="container">
    <!--<div class="logo">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo.svg" /></a>
    </div>
    <div class="logo-mobile">
      <a href="{{site.baseurl}}/"><img alt="Figurit Homepage" src="{{site.baseurl}}/assets/images/logo-mobile.svg" /></a>
    </div>-->
    {% include main-menu.html %}
    {% include hamburger.html %}
    <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/ba9933f02b165786f46a3d3f6/26f0f07c91ed11cfd4b235214.js");</script>
  </div>
</div>